.v-application, input{
font-family: 'Nunito',sans-serif !important;
font-weight: 600;

}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #f6f6f9;
}
h3,h5,h6{
  font-weight: bold;
}
.only-on-mob{
  visibility: hidden;
}
.only-on-desc{
  visibility: visible;
}

@media screen and (max-width: 768px){
  .only-on-mob{
    visibility: visible;
  }
  .nav-mob{
    height: 4rem;
  }
  .only-on-desc{
    visibility: hidden;
  }
  h1{
    font-size: 1.5rem
  }
  h3{
    font-size: 1.25rem
  }
  h5{
    font-size: 1rem
  }
  h6{
    font-size: 0.75rem
  }
  
}